In [5]:
studentet = {
    "emri": ["Teuta", "Altin", "Blerina ", "Donat"],
    "mbiemri": ["Shala", "Nimani", "Tahiraj", "Imeri"],
    "kursi": ["Big Data", "Python", "ML", "AI"],
    "mosha": [22, 24, 26, 28],
    "email": ["teuta@gmail.com", "altin@gmail.com", "blerina@gmail.com", "donat@gmail.com"],
    "nota": [8, 9, 5, 6]
}

In [7]:
studentet['email']

['teuta@gmail.com', 'altin@gmail.com', 'blerina@gmail.com', 'donat@gmail.com']

In [10]:
emrat = studentet['emri']
mbiemrat = studentet['mbiemri']
print(emrat)
print(mbiemrat)

['Teuta', 'Altin', 'Blerina ', 'Donat']
['Shala', 'Nimani', 'Tahiraj', 'Imeri']

In [11]:
emri_mb = emrat, mbiemrat
emri_mb

(['Teuta', 'Altin', 'Blerina ', 'Donat'],
 ['Shala', 'Nimani', 'Tahiraj', 'Imeri'])

In [12]:
import pandas as pd

dataframe = pd.DataFrame(studentet)
dataframe

       emri  mbiemri     kursi  mosha              email  nota
0     Teuta    Shala  Big Data     22    teuta@gmail.com     8
1     Altin   Nimani    Python     24    altin@gmail.com     9
2  Blerina   Tahiraj        ML     26  blerina@gmail.com     5
3     Donat    Imeri        AI     28    donat@gmail.com     6

In [13]:
dataframe['emri']

0       Teuta
1       Altin
2    Blerina
3       Donat
Name: emri, dtype: object

In [14]:
dataframe['mosha']

0    22
1    24
2    26
3    28
Name: mosha, dtype: int64

In [15]:
type(dataframe)

pandas.core.frame.DataFrame

In [17]:
type(dataframe['mosha'])

pandas.core.series.Series

In [18]:
seria = ['Python', 'ML', 'AI']
seria = pd.Series(seria)
seria

0    Python
1        ML
2        AI
dtype: object

In [19]:
dataframe

       emri  mbiemri     kursi  mosha              email  nota
0     Teuta    Shala  Big Data     22    teuta@gmail.com     8
1     Altin   Nimani    Python     24    altin@gmail.com     9
2  Blerina   Tahiraj        ML     26  blerina@gmail.com     5
3     Donat    Imeri        AI     28    donat@gmail.com     6

In [20]:
dataframe.columns

Index(['emri', 'mbiemri', 'kursi', 'mosha', 'email', 'nota'], dtype='object')

In [21]:
# loc per te aksesuar rreshtat
dataframe.loc[2]

emri                Blerina
mbiemri              Tahiraj
kursi                     ML
mosha                     26
email      blerina@gmail.com
nota                       5
Name: 2, dtype: object

In [22]:
dataframe.loc[[1, 2]]

       emri  mbiemri   kursi  mosha              email  nota
1     Altin   Nimani  Python     24    altin@gmail.com     9
2  Blerina   Tahiraj      ML     26  blerina@gmail.com     5

In [23]:
dataframe.loc[0:2]

       emri  mbiemri     kursi  mosha              email  nota
0     Teuta    Shala  Big Data     22    teuta@gmail.com     8
1     Altin   Nimani    Python     24    altin@gmail.com     9
2  Blerina   Tahiraj        ML     26  blerina@gmail.com     5

In [24]:
dataframe.loc[[0, 1], 'emri']

0    Teuta
1    Altin
Name: emri, dtype: object

In [26]:
dataframe.loc[[0, 1], ['emri', 'nota']]

    emri  nota
0  Teuta     8
1  Altin     9

In [27]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   emri     4 non-null      object
 1   mbiemri  4 non-null      object
 2   kursi    4 non-null      object
 3   mosha    4 non-null      int64
 4   email    4 non-null      object
 5   nota     4 non-null      int64
dtypes: int64(2), object(4)
memory usage: 324.0+ bytes

In [28]:
dataframe.iloc[[0, 1], [0, 5]]

    emri  nota
0  Teuta     8
1  Altin     9

In [29]:
dataframe

       emri  mbiemri     kursi  mosha              email  nota
0     Teuta    Shala  Big Data     22    teuta@gmail.com     8
1     Altin   Nimani    Python     24    altin@gmail.com     9
2  Blerina   Tahiraj        ML     26  blerina@gmail.com     5
3     Donat    Imeri        AI     28    donat@gmail.com     6

In [30]:
dataframe.set_index('email')

                       emri  mbiemri     kursi  mosha  nota
email
teuta@gmail.com       Teuta    Shala  Big Data     22     8
altin@gmail.com       Altin   Nimani    Python     24     9
blerina@gmail.com  Blerina   Tahiraj        ML     26     5
donat@gmail.com       Donat    Imeri        AI     28     6

In [31]:
dataframe

       emri  mbiemri     kursi  mosha              email  nota
0     Teuta    Shala  Big Data     22    teuta@gmail.com     8
1     Altin   Nimani    Python     24    altin@gmail.com     9
2  Blerina   Tahiraj        ML     26  blerina@gmail.com     5
3     Donat    Imeri        AI     28    donat@gmail.com     6

In [32]:
dataframe.set_index('email', inplace=True)

In [33]:
dataframe

                       emri  mbiemri     kursi  mosha  nota
email
teuta@gmail.com       Teuta    Shala  Big Data     22     8
altin@gmail.com       Altin   Nimani    Python     24     9
blerina@gmail.com  Blerina   Tahiraj        ML     26     5
donat@gmail.com       Donat    Imeri        AI     28     6

In [34]:
dataframe.loc[[0, 1], ['emri', 'nota']]

KeyError: "None of [Index([0, 1], dtype='int32', name='email')] are in the [index]"

In [35]:
dataframe.loc[['altin@gmail.com'], ['emri', 'nota']]

                  emri  nota
email
altin@gmail.com  Altin     9

In [36]:
dataframe.reset_index(inplace=True)

In [37]:
dataframe

               email      emri  mbiemri     kursi  mosha  nota
0    teuta@gmail.com     Teuta    Shala  Big Data     22     8
1    altin@gmail.com     Altin   Nimani    Python     24     9
2  blerina@gmail.com  Blerina   Tahiraj        ML     26     5
3    donat@gmail.com     Donat    Imeri        AI     28     6

In [38]:
dataframe['emri'] == 'Teuta'

0     True
1    False
2    False
3    False
Name: emri, dtype: bool

In [39]:
filter_name = (dataframe['emri'] == 'Teuta')
dataframe[filter_name]

             email   emri mbiemri     kursi  mosha  nota
0  teuta@gmail.com  Teuta   Shala  Big Data     22     8

In [40]:
dataframe.loc[filter_name, 'email']

0    teuta@gmail.com
Name: email, dtype: object

In [46]:
filter2 = (dataframe['emri'] == 'Blerina ') | (dataframe['emri'] == 'Donat')

In [48]:
filter2

0    False
1    False
2     True
3     True
Name: emri, dtype: bool

In [47]:
dataframe.loc[filter2, 'email']

2    blerina@gmail.com
3      donat@gmail.com
Name: email, dtype: object